#postSection{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
#postCard{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
  border: 1px solid rgb(223, 218, 218);
  padding: 10px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px black;
  p{
    font-family:cursive;
  }
  button{
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    border: none;
    font-family:cursive;
    font-weight: 700;
  }
  button:hover{
    background-color: grey;
    cursor: pointer;
    transition: 0.3s all;
  }
}